<div class='equipment'>
  <p>
    <span class='removal_link'><%= remove_link( form ) %></span>
    <span class='title'>Microphone/Recorder</span>
    <%= form.hidden_field :equipment_type, :value => 'recorder' %>
  </p>
</div>