<div id='page_title'>
  <%= title('Edit Participant Registration', :h1) %>
</div>

View <%= link_to 'Audit Log', audit_participant_registration_path %> for this registration.

<%= render :partial => 'form' %>