<h1>Thank you!</h1>
<p>Thank you. Your registration has been saved, but will not be complete until we receive your check. Please remit payment of $<%= @participant_registration.amount_ordered %> to:</p>
<p>
  Global Treasury Services<br/>
  Church of the Nazarene<br/>
  P.O. Box 843116<br/>
  Kansas City, MO 64184-3116
</p>