<h1>Thank you!</h1>
<p>Thank you. Your participant registration has been saved, but will not be complete until we receive your check. Please remit payment of $<%= @participant_registration.amount_ordered %> to:</p>
<p>
  USA/Canada NYI<br/>
  Att: Quiz Liaison<br/>
  17001 Prairie Star Parkway<br/>
  Lenexa, KS 66220
</p>