<div id='page_title'>
  <%= title('Participant Registrations', :h1) %>
</div>

<% if @user.participant_registrations.size > 0 %>
  From here you can view your participant registrations. If you would like to submit another participant registration please visit the <a href="/participant_registrations/new">registration page</a>.<br/><br/>
<% else %>
  You do not have any participant registrations. If you would like to submit a participant registration please visit the <a href="/participant_registrations/new">registration page</a>.
<% end  %>

<% if @user.owned_participant_registrations.size > 0 %>
  <h2>My Registrations</h2>
  <div class="table-responsive"> 
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Registration Time</th>
        </tr>
      </thead>
      <tbody>
        <% @user.owned_participant_registrations.each do |participant_registration| %>
          <tr>
            <td><%= participant_registration.full_name %></td>
            <td><%= participant_registration.created_at.strftime("%m/%d/%Y at %I:%M %p") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br/>
<% end  %>