<div id='page_title'>
  <%= title('Participant Registration', :h1) %>
</div>

<% if Event.active_event.use_short_registration? %>
  <%= render :partial => 'short_form' %>
<% else %>
  <%= render :partial => 'form' %>
<% end %>