<% @user.password = @user.password_confirmation = nil %>

<div id='page_title'>
  <%= title('User Registration', :h1) %>
</div>

<p>
In order to interact with certain parts of this site, including registering for events, you will need to register. If you've already registered
you can <%= link_to 'log in', login_path %>. Required fields are denoted by a *.
</p>

<%= render :partial => 'form' %>
