<% @user.password = @user.password_confirmation = nil %>

<div id='page_title'>
  <%= title('User Registration', :h1) %>
</div>

<p>
In order to interact with certain parts of the site you need to register. If you've already registered
you can <%= link_to 'login', login_path %>. Required fields are denoted by a *. Please note that
registration on this site only allows editing of information before the event. If you are registering as a
quizzer, coach, or spectator you don't need to register an account and can <a href='/registrations'>register for the event</a>.
</p>

<%= render :partial => 'form' %>
