<div id='page_title'>
  <%= title('New Event', :h1) %>
</div>

<p>
  Use this page to create a new event. Events allow for registrations to be tied to an event,
  instead of to the site itself. The active event will show the event's logo and title and all
  registrations will link to it.
</p>

<%= render :partial => 'form' %>
