<div id='page_title'>
  <%= title('Import Participants (2024)', :h1) %>
</div>
<h3>Imports</h3>

Import participant data for Q2024. This is very specific to Q2024,
and should not be used for other events unless modified.

<% form_tag({:action => 'upload_file'}, :multipart => true) do %>
<p><label for="upload_file">Select File</label> : 
<%= file_field 'upload', 'datafile' %></p>
<%= submit_tag "Upload" %>
<% end %>