<div id='page_title'>
  <%= title('Import participants (2019)', :h1) %>
</div>
<h3>Imports</h3>

Import participant data for 2019. This is very specific to 2019,
and probably shouldn't be used again unless modified.

<% form_tag({:action => 'upload_participants_file'}, :multipart => true) do %>
<p><label for="upload_file">Select File</label> : 
<%= file_field 'upload', 'datafile' %></p>
<%= submit_tag "Upload" %>
<% end %>