<% content_for :admin do %>
<% if !@page.new_record? %>
<p>
  <%= link_to 'Edit this page', edit_page_path(@page) %><br/>
  <%= link_to 'Delete this page', @page, :confirm => 'Are you sure you want to delete this page?', :method => :delete %>
</p>
<% end %>
<% end %>

<% if !@page.published? %>
  <p class='info'>This page is not published and thus not visible to normal users.</p>
<% end %>

<% title(@page.title) %>

<%= render :partial => @page %>