<div class="team">
  <p>
    <%= form.label :name, "Team Name:" %>
    <%= form.text_field :name, :size => 30 %>
	&nbsp;
	<%= form.label :division, "Division:" %>
	<%= form.object.division.name %>
  </p>
</div>