<h1>Thank you!</h1>
<p>Thank you. Your team registration is now complete. You can now visit the <%= link_to 'completed registration', edit_user_team_registration_path(current_user, @team_registration) %> if you'd like to add quizzers to your teams.</p>