development: &non_production_settings
  :address: smtp.server.com
  :port: 587
  :domain: quizzingevents.com
  :authentication: plain
  :user_name: username
  :password: password
  :enable_starttls_auto: true

test:
  <<: *non_production_settings

staging:
  <<: *non_production_settings

production:
  <<: *non_production_settings
