<div id='page_title'>
  <%= title('Thank you!', :h1) %>
</div>

<p>
  Thank you. Your registration is now complete.
</p>
<p>
  If you have any questions please reach out to the USA/Canada NYI office at nyiquiz@nazarene.org<mailto:nyiquiz@nazarene.org> or 913-577-0550.
</p>